.auth {
  height: 120vh;
  width: 100%;
  background-color: var(--main-clr);
  padding: 50px 0 0;
}

.authWrapper {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.authWrapper h1 {
  font-size: 2.7rem;
  font-weight: 500;
  color: var(--second-clr);
}

.authWrapper .form {
  width: 100%;
  padding: 30px;
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.form input {
  width: 100%;
  margin: 15px 0;
  letter-spacing: 1px;
  padding: 10px 5px;
  font-size: 1rem;
  outline: none;
}

.form input[type="submit"] {
  font-size: 1.1rem;
  padding: 11px 0;
  margin-top: 40px;
  cursor: pointer;
  outline: none;
  border: 0.5px solid var(--second-clr);
  background-color: var(--white);
  transition: 0.4s;
  margin-bottom: 0;
}

.form input[type="submit"]:hover {
  background-color: var(--second-clr);
  color: var(--white);
}

.form p {
  width: fit-content;
  margin-left: auto;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}

.form p:hover {
  color: var(--third-clr);
}

.signUp {
  margin-left: 5px;
  cursor: pointer;
  color: var(--third-clr);
}

.forgotPass {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotPass h1 {
  margin-bottom: 15px;
}

.forgotPass .form > input {
  width: 300px;
  padding: 6px;
}

.forgotPass .form > input[type="submit"] {
  width: fit-content;
  padding: 8px 20px;
  font-size: 0.9rem;
  margin-top: 15px;
  transform: translateX(50%);
}

@media screen and (max-width: 1200px) {
  .authWrapper {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .authWrapper {
    width: 600px;
  }
}
@media screen and (max-width: 830px) {
  .forgotPass h1 {
    font-size: 1.1rem;
  }
  .forgotPass .form > input {
    width: 300px;
    padding: 5px;
    font-size: 0.9rem;
  }
  .forgotPass .form > input[type="submit"] {
    padding: 7px 15px;
    font-size: 0.8rem;
    margin-left: 20px;
  }
  .authWrapper {
    width: 500px;
  }
  .authWrapper h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 570px) {
  .authWrapper {
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .profilePic {
    width: 110px;
    height: 110px;
  }

  .forgotPass h1 {
    font-size: 1rem;
  }
  .forgotPass .form > input {
    width: 250px;
  }
  .forgotPass .form > input[type="submit"] {
    padding: 5px 13px;
    font-size: 0.7rem;
    margin-left: 10px;
    margin-top: 8px;
  }
  .authWrapper {
    width: 90%;
  }
  .authWrapper h1 {
    font-size: 2rem;
  }
  .form input {
    padding: 8px 5px;
    font-size: 0.9rem;
  }
  .form input[type="submit"] {
    font-size: 1rem;
    padding: 10px 0;
  }
}
@media screen and (max-width: 400px) {
  .form input[type="submit"] {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 300px) {
  .forgotPass h1 {
    font-size: 0.8rem;
    margin-bottom: 0px;
  }
  .forgotPass .form > input[type="submit"] {
    margin-left: -25px;
    margin-top: 5px;
  }
  .forgotPass .form > input {
    width: 100%;
    padding: 4px;
    font-size: 0.8rem;
  }
}
