.create {
  width: 100%;
  height: 100vh;
}

.warning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 55%;
  background-color: var(--white);
  margin: 0 auto;
  margin-top: 5vh;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.warning h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.warning a {
  background-color: var(--third-clr);
  padding: 10px 35px;
  border-radius: 5px;
  color: var(--white);
  font-weight: 500;
}

.blogForm {
  width: 100%;
  padding: 110px 0 70px;
}

.blogForm > h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: var(--second-clr);
}

.blogFormWrapper {
  width: 55%;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}

.blogFormWrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  height: 300px;
  width: 100%;
  background-color: transparent;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.icon {
  width: 25px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: rgb(110, 109, 109);
  border: 1px solid gray;
  border-radius: 50%;
  padding: 4px;
  transition: 0.4s;
}

.image input[type="file"] {
  transform: scale(5);
  padding: 19px 0;
  opacity: 0;
  cursor: pointer;
  z-index: 22;
}

.blogFormWrapper input[type="text"] {
  margin-top: 30px;
  width: 100%;
  padding: 14px 5px;
  font-size: 1rem;
  background-color: var(--main-clr);
  border: 1px solid gray;
  outline: none;
}
.blogFormWrapper input[type="text"]::placeholder {
  font-size: 1rem;
  letter-spacing: 1px;
}

.blogDetail {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.cetagory {
  width: 100%;
  border: 1px solid gray;
  padding: 14px 10px;
}

.cetagory select {
  width: 100%;
  color: gray;
  font-size: 1rem;
  border: none;
  background-color: var(--main-clr);
  outline: none;
}

.trending {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
}

.trending select {
  width: 100%;
  border: none;
  font-size: 1rem;
  color: gray;
  background-color: var(--main-clr);
  outline: none;
}

.blogDescription {
  height: 230px;
  margin-top: 20px;
  width: 100%;
  background-color: var(--main-clr);
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
}

.blogDescription::placeholder {
  font-size: 1.1rem;
}

.blogFormWrapper input[type="submit"] {
  width: 100%;
  margin-top: 30px;
  font-size: 1.1rem;
  background-color: var(--second-clr);
  color: var(--white);
  border: none;
  padding: 13px 0;
  cursor: pointer;
  font-weight: 500;
  transition: 0.4s;
}
.blogFormWrapper input[type="submit"]:hover {
  background-color: var(--third-clr);
  color: var(--white);
}

@media screen and (max-width: 1000px) {
  .blogFormWrapper {
    width: 65%;
  }
}

@media screen and (max-width: 950px) {
  .warning {
    height: 400px;
    width: 65%;
  }
}
@media screen and (max-width: 800px) {
  .warning {
    height: 300px;
    width: 75%;
  }
  .warning h1 {
    font-size: 1.4rem;
  }
  .blogFormWrapper {
    width: 75%;
  }
}
@media screen and (max-width: 650px) {
  .blogFormWrapper input[type="text"] {
    padding: 10px 5px;
    font-size: 0.9rem;
  }
  .blogFormWrapper input[type="text"]::placeholder {
    font-size: 0.9rem;
  }
  .cetagory {
    padding: 10px;
  }
  .cetagory select {
    font-size: 0.9rem;
  }
  .trending {
    padding: 5px;
  }

  .trending select {
    font-size: 0.9rem;
  }
  .blogDescription {
    height: 200px;
    font-size: 1rem;
  }

  .blogDescription::placeholder {
    font-size: 1rem;
  }
  .blogFormWrapper input[type="submit"] {
    font-size: 1rem;
    padding: 12px 0;
  }
}
@media screen and (max-width: 550px) {
  .warning {
    width: 85%;
  }
  .warning h1 {
    font-size: 1.2rem;
  }
  .warning a {
    padding: 8px 30px;
  }
  .blogFormWrapper {
    width: 85%;
  }
  .blogForm {
    padding: 90px 0 50px;
  }
  .blogFormWrapper img {
    height: 230px;
  }
  .blogForm > h1 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
}
@media screen and (max-width: 450px) {
  .warning {
    height: 250px;
    width: 90%;
  }
  .warning h1 {
    font-size: 0.9rem;
  }
  .warning a {
    padding: 7px 20px;
    font-weight: 400;
    font-size: 0.9rem;
  }
  .blogFormWrapper {
    width: 90%;
  }
  .cetagory {
    padding: 10px 5px;
  }
}
