@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --main-clr: #f1f0f0;
  --second-clr: #203656;
  --third-clr: #078507;
  --white: #fff;
  --gray: lightgray;
  --text-clr: rgb(108, 107, 107);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--main-clr);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--main-clr);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: var(--second-clr);
}

@media screen and (max-width: 1000px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}
