.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: transparent;
  z-index: 100;
  transition: 0.2s;
  background-color: var(--second-clr);
}


.navbar .navMenu {
  display: flex;
  align-items: center;
  transition: right 0.5s;
}

.navbar .logo {
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.navbar li {
  list-style-type: none;
  padding: 0 25px;
  margin-top: 6px;
}

.navbar li a {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  display: block;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.profile{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: .5px solid var(--text-clr);
  cursor: pointer;
  transition: .3s;
}

.navbar li .signIn {
  background-color: var(--third-clr);
  padding: 7px 18px 0px;
  border-radius: 30px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  z-index: 1;
}

.signIn::after {
  content: "";
  width: 0%;
  height: 0px;
  display: block;
  margin-top: 0px;
}

.navbar li a::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  transition: 0.5s;
  background-color: var(--third-clr);
  margin-top: 5px;
}

.navbar li a:hover::after {
  width: 100%;
}

.faBars {
  display: none;
  -webkit-tap-highlight-color: transparent;
}

.faXmark {
  display: none;
  -webkit-tap-highlight-color: transparent;
}


@media screen and (max-width: 950px) {
  .navbar .logo {
    font-size: 1.3rem;
  }
  .navbar li {
    padding: 0 20px;
  }

  .navbar li a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .navbar li {
    padding: 0 15px;
  }
  .navbar li a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    padding: 0 25px;
  }
}

@media screen and (max-width: 700px) {
  .navbar .logo {
    font-size: 1.2rem;
  }
  .navbar .navMenu {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -110%;
    text-align: center;
    background-color: var(--second-clr);
    z-index: 200;
  }


  .profile{
    position: fixed;
    top: 23px;
    right:65px;
    width: 35px;
    height: 35px;
    transition: .2s;
  }
  
  .navbar li .signIn {
    font-size: .8rem;
    position: fixed;
    top: 25px;
    right:75px;
    padding: 9px 18px 2px;
    transition: .2s;
  }

  .navMenu.active {
    right: 0;
  }

  .navbar li {
    padding: 20px 0;
  }

  .navbar li a {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .navbar li a:hover::after {
    width: 0;
  }

  .faBars {
    display: block;
    color: var(--white);
    cursor: pointer;
    width: 20px;
  }

  .faXmark {
    display: block;
    color: var(--white);
    width:  22px;
    height: 22px;
    position: absolute;
    top: 25px;
    right: 23px;
    cursor: pointer;
    border: 1px solid white;
    padding: 3px;
    border-radius: 50%;
  }
  .navMenu .hide{
  transform: translateY(-200px);
  transition: 0s !important;
}

}

@media screen and (max-width: 450px) {
  .navbar .logo {
    font-size: 1.1rem;
  }

  .navbar li {
    padding: 18px 0;
  }

  .navbar li a {
    font-size: 0.9rem;
  }

 
}
@media screen and (max-width: 400px) {
 
  .navbar li .signIn {
    font-size: .7rem;
     right:65px;
     padding: 9px 15px 2px;
   }
}

@media screen and (max-width: 310px) {
 
  .profile{
    top: 19px;
    right:60px;
    width: 32px;
    height: 32px;
  }
}
