.profile{
    width: 100%;
    margin-top: 78px;
    padding-top: 40px;
    border: 1px solid lightgray;
    position: relative;
}

.profile > h1{
    margin-left: 7.5%;
    margin-bottom: 20px;
    color: var(--second-clr);
}

.profile > h2{
    margin-top: 40px;
    margin-left: 7.5%;
    color: var(--second-clr);
    text-transform: uppercase;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 7.5% ;
    border-bottom: 1px solid var(--second-clr);
    padding: 0 ;
}
.logOut{
    padding: 8px 20px;
    border: 1px solid var(--second-clr);
    font-size: .9rem;
    background-color: var(--second-clr);
    color: var(--white);
    cursor: pointer;
    transition: .5s;
}

.logOut:hover{
    background-color: rgb(206, 38, 38);
    border-color: rgb(206, 38, 38) ;
}

.userInfo{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.userImg{
    border-radius: 50%;
}

.userName h1{
    font-size: 1.6rem;
    color: var(--third-clr);
    letter-spacing: 1px;
}

.userName p{
    font-size: 1rem;
    margin-top: 3px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--second-clr);
}

.profileWrapper{
    width: 85%;
    margin: 30px auto ;
}

.blogCard{
    width: 100%;
    display: flex;
    gap: 15px;
    cursor: pointer;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: .5px solid var(--second-clr);
}
.blogCard:last-child{
    border-bottom: none ;
}

.blogCard > img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.blogRight > h1{
    font-size: 1.5rem;
    color: var(--second-clr);
}

.blogRight > h3{
    margin: 15px 0;
    font-size: 1.1rem;
    color: var(--second-clr);
}

.blogRight > p{
    color: var(--second-clr);
    font-size: 15px;
}

.icons{
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.icon{
    width: 17px;
    color: var(--second-clr);
}
.icon:last-child{
    width: 15px;
    color: rgb(202, 53, 53);
}

.alert{
    width: 60%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px 0px;
    text-align: center;
    background-color: var(--second-clr);
    z-index: 101;
  
}

.alert > h2{
    color: var(--white);
    font-weight: 400;
    margin-bottom:30px;
}

.alert button{
    padding: 6px 25px;
    border: none;
    cursor: pointer;
}

.alert  button:first-child{    
    margin-right: 30px;
}

.overlay{
    width: 100vw;
    height: 100% ;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    z-index: 100;
}

.noBlog{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 20px 0;
    color: var(--second-clr);
}

.loading{
    display: flex;
    margin: 15px auto;
}

@media screen and (max-width:800px) {
    .alert > h2{
     font-size: 1rem;
    }
    .alert button{
        padding: 6px 20px;
    }
    .userImg{
        width: 100px;
        height: 100px;
    }
    
    .profile > h1{
        margin-left:5%;
    }
    .profile > h2{
        margin-left:5%;
    }
    .userName h1{
        font-size: 1.4rem;
    }
    
    
    .top{
        margin:  0 5% ;
    }
    .logOut{
        padding: 8px 20px;
        font-size: .8rem;
    }
    .profileWrapper{
        width: 90%;
    }
    .blogRight > h1{
    font-size: 1.2rem;
    }

    .blogRight > h3{
        margin: 10px 0;
        font-size: 1rem;
    }

    .blogRight > p{
        font-size: 13px;
    }
    .icon{
        width: 15px;
    }
    .icon:last-child{
        width: 13px;
    }

}
@media screen and (max-width:600px) {
    .alert{
        width: 70%;
        padding: 70px 0;
    }
    .logOut{
        padding: 7px 16px;
        font-size: .7rem;
    }
   
    .blogRight > h1{
    font-size: 1rem;
    }


}

@media screen and (max-width:450px) {
    .alert{
        width: 75%;
        padding: 60px 0;
    } .alert > h2{
        font-size: .9rem;
        margin-bottom:18px;
       }
       .alert button{
           padding: 5px 16px;
           font-size: .7rem;
       }
    .userImg{
        width: 80px;
        height: 80px;
    }
    
    .profile > h1{
        font-size: 1.1rem;
    }
    .profile > h2{
        font-size: 1.1rem;
    }
    .userName h1{
        font-size: 1.1rem;
    }
    .userName p{
        font-size: .8rem;
    }
   
    .logOut{
        padding: 6px 10px;
        font-size: .6rem;
    }
   
    .blogCard > img{
        width: 120px;
        height: 120px;
    }
 
    .blogRight > h1{
    font-size: .9rem;
    }

    .blogRight > h3{
        font-size: .7rem;
        margin: 5px 0;
    }

    .blogRight > p{
        font-size: 10px;
    }
    .icons{
        margin-top: 10px;
    }
    .icon{
        width: 12px;
    }
    .icon:last-child{
        width: 10px;
    }

}

@media screen and (max-width:350px) {
    .alert{
        width: 80%;
        padding: 50px 0;
    } 
    .alert > h2{
        font-size: .8rem;
     }
 
}